name: BaseTest

on:
  push:
    branches: [master]

      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      
      - name: Run PMD check
        run: ./gradlew pmdMain
      - name: Run OWASP check
        run: ./gradlew dependencyCheckAnalyze
      - name: Set Inputs
        id: set_inputs
        run: |
          echo "::set-output name=param1::2"
          echo "::set-output name=param2::2"
          echo "::set-output name=param3::4"

      - name: Show Inputs
        run: |
          echo "Parametr 1: ${{ steps.set_inputs.outputs.param1 }}"
          echo "Parametr 2: ${{ steps.set_inputs.outputs.param2 }}"
          echo "Parametr 3: ${{ steps.set_inputs.outputs.param3 }}"

      - name: Run Tests
        run: ./gradlew test --param1 ${{ steps.set_inputs.outputs.param1 }} --param2 ${{ steps.set_inputs.outputs.param2 }} --param3 ${{ steps.set_inputs.outputs.param3 }}
