name: test

on:
  push:
    branches: [master]
    
env:
  NUM1: 2
  NUM2: 4
  RESULT: 6
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      - name: Test with Gradle
        run: ./gradlew test
